<div class="container-centri">
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="4" aria-label="Slide 5 "></button>
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="7" aria-label="Slide 8"></button>
      
        </div>
      
        <!-- Inner -->
        <div class="carousel-inner">
          <!-- Single item -->
         
          <div class="carousel-item active"> 
           <div class="div-centri">
            <h3>I CENTRI <br> BOLOGNA GOMME</h3>
            <div class="img-description-colum">
            <div class="logo-description">
            <img src="../../../assets/img/logo1.png" width="40%" height="66%" alt="">
            <h2>BOLOGNA GOMME <span class="number">1</span> </h2>
            </div>
         
           <p>Via Persicetana Vecchia 20 Bologna - 40132</p>
          </div>
        </div> 
        
            <img src="../../../assets/img/centro1.png" class="d-block w-100" alt="Sunset Over the City" />
        
          </div>
      
          <!-- Single item -->
          <div class="carousel-item"> 
            <div class="div-centri">
             <h3>I CENTRI <br> BOLOGNA GOMME</h3>
             <div class="img-description-colum">
             <div class="logo-description">
             <img src="../../../assets/img/logo2.png" width="40%" height="66%" alt="">
             <h2>BOLOGNA GOMME <span class="number">2</span> </h2>
             </div>
          
            <p>Via Marco Emilio Lepido 225 Bologna - 40132</p>
           </div>
         </div> 
            <img src="../../../assets/img/centro2.png" class="d-block w-100" alt="Canyon at Nigh" />
          
          </div>
      
          <!-- Single item -->
          <div class="carousel-item"> 
            <div class="div-centri">
             <h3>I CENTRI <br> BOLOGNA GOMME</h3>
             <div class="img-description-colum">
             <div class="logo-description">
             <img src="../../../assets/img/logo3.png" width="40%" height="66%" alt="">
             <h2>BOLOGNA GOMME <span class="number">3</span> </h2>
             </div>
          
            <p>Via Bruno Tosarelli 296/2 Bologna - 40137</p>
           </div>
         </div> 
            <img src="../../../assets/img/centro3.png" class="d-block w-100 storia" alt="Cliff Above a Stormy Sea" />
           
          </div>
      
         
      <!-- Single item -->
      <div class="carousel-item"> 
        <div class="div-centri">
         <h3>I CENTRI <br> BOLOGNA GOMME</h3>
         <div class="img-description-colum">
         <div class="logo-description">
         <img src="../../../assets/img/logo4.png" width="34%" height="69%" alt="">
         <h2>BOLOGNA GOMME <span class="number">4</span> </h2>
         </div>
      
        <p>Via Progesso 36 Bologna - 40137</p>
       </div>
     </div> 
        <img src="../../../assets/img/centro4.png" class="d-block w-100 storia" alt="Cliff Above a Stormy Sea" />
     
      </div>
      
      <!-- Single item -->
      <div class="carousel-item"> 
        <div class="div-centri">
         <h3>I CENTRI <br> BOLOGNA GOMME</h3>
         <div class="img-description-colum">
         <div class="logo-description">
         <img src="../../../assets/img/logo5.png" width="40%" height="66%" alt="">
         <h2>BOLOGNA GOMME <span class="number">5</span> </h2>
         </div>
      
        <p>Via del Commercio 7 Castel Guelfo - 40023</p>
       </div>
     </div> 
        <img src="../../../assets/img/centro5.png" class="d-block w-100 storia" alt="Cliff Above a Stormy Sea" />
     
      </div>
     <!-- Single item -->
     <div class="carousel-item"> 
      <div class="div-centri">
       <h3>I CENTRI <br> BOLOGNA GOMME</h3>
       <div class="img-description-colum">
       <div class="logo-description">
       <img src="../../../assets/img/logo6.png" width="40%" height="66%" alt="">
       <h2>BOLOGNA GOMME <span class="number">6</span> </h2>
       </div>
    
      <p>Via T.A Edison 23 Castel San Pietro - 40024</p>
     </div>
   </div> 
      <img src="../../../assets/img/centro6.png" class="d-block w-100 storia" alt="Cliff Above a Stormy Sea" />
    
    </div>
    <!-- Single item -->
    <div class="carousel-item"> 
      <div class="div-centri">
       <h3>I CENTRI <br> BOLOGNA GOMME</h3>
       <div class="img-description-colum">
       <div class="logo-description">
       <img src="../../../assets/img/logo7.png" width="40%" height="66%" alt="">
       <h2>BOLOGNA GOMME <span class="number">7</span> </h2>
       </div>
    
      <p>Via Galiera 10/12 Funo di Argelato - 40027</p>
     </div>
   </div> 

      <img src="../../../assets/img/centro7.png" class="d-block w-100 storia" alt="Cliff Above a Stormy Sea" />
   
    </div>
        </div>
      
       
      
      
        <!-- Inner -->
      
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
          <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
              class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
              <path
                d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
            </svg></span>
          <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
          <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
              class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
              <path
                d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z" />
            </svg></span>
          <span></span>
        </button>
      
      </div>

</div>