<button class="button-back" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
    <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
  </svg></button>
  

<div class="container-privacy">
    <div class="div-privacy">
        <h3>LA NOSTRA<br>
            PRIVACY</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-slash"
            viewBox="0 0 16 16">
            <path
                d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
            <path
                d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
            <path
                d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
        </svg>
        <img src="../../../assets/img/img-profile.png" alt="">
    </div>

    <p class="tittle-privacy">PRIVACY POLICY</p>
    <p class="art">(ai sensi dell'art.13 GDPR 679/2016)</p>

    <p class="tittle-dati">DATI PERSONALI RACCOLTI PER LE SEGUENTI FINALITÀ ED UTILIZZANDO I SEGUENTI SERVIZI:

    </p>
    <p class="dati">
        Statistica: Google Analytics <br>
        Condivisione contenuti: Social Plugin <br>
        Dati Personali: Cookie e Dati di utilizzando <br>
        Contattare l'utente: Modulo di contatto (questa Applicazione) <br>
        Dati Personali raccolti: nome, cognome, email, numero di telefono, cap,targa auto.

    </p>

    <p class="tittle-info">INFORMAZIONI DI CONTATTO</p>

    <p class="info-contatti">Titolare del Trattamento dei Dati: <br>
        BolognaGomme srl <br>
        Via Persicetana Vecchia,20 <br>
        40132 Bologna (BO) <br>
        Indirizzo email del Titolare: <br>
        MENTO DEI DATI PERSONALI <br>
    </p>



</div>