.carousel {
  padding-top: 3.6em;

 

  h5 {
    padding-top: 1em;
    font-size: 2em;
    color: #e2007a;
    font-weight: bold;
    padding-bottom: 0;
    margin: 0;
    line-height: 1em;
  }
  p {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 2em
  }
}
.tittle {
  background-color: white;
  color: black;
  padding-bottom: 0.2em;
  margin-left: 1em;
}
hr {
  border: solid 0.6px black;
  padding: 0; /* Rimuovi il riempimento */
  margin: 0; /* Rimuovi il margine se presente */
}

.carousel-item img {
  width: 100%; /* Larghezza del 100% del contenitore del carousel */
  height: 27em;
  object-fit: cover;
}

.carousel-indicators {
  display: none;
}
.container-arrow {
  display: flex;
  flex-direction: row;
}

.bi-arrow-right-square {
  margin-top: 2.2em;
  color: #e2007a;
  margin-left: 0.8em;
  margin-right: 1em;
}

.bi-arrow-right-square-2 {
  margin-top: 2.2em;
  color: #e2007a;
  margin-left: 0.8em;
  margin-right: 1em;
}

.container-arrow-2 {
  display: flex;
  flex-direction: row;
}

.div-svg {
  width: 50%;
}
