.button-back{
  padding-top: 5.8em;

  padding-left: 1.2em;
  border: none;
  background-color: white;
  font-weight: bold;
  margin-left: 0.7em;
  color: #e2007a;
}

.container-assistenza {
  padding-top:2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
  display: flex;
  justify-content: center;

  flex-direction: column;
}
.div-assistenza {
  display: flex;

  h3 {
    font-weight: bold;
    padding-top: 0.2em;
  }

  img {
    margin-left: 4.5em;
  }
}

.compila-modulo {
  font-size: 0.8em;
  font-weight: 100;
  margin-top: 0.9em;
}

.div-form {
  display: flex;
  flex-direction: column;
  label {
    color: #e2007a;
    font-weight: bold;
  }
  .label-centro {
    margin-top: 0.7em;
  }
  input {
    background-color: #f2f2f2;
    margin-right: 3em;
    border: none;
    padding: 0.2em;
    margin-bottom: 0.2em;
  }
  select {
    background-color: #f2f2f2;
    margin-right: 3em;
    border: none;
    padding: 0.3em;
    margin-bottom: 0.2em;
  }
  .tittle-richiesta {
    margin-top: 0.7em;
  }
  .richiesta {
    padding: 2em;
  }
}
.button-assistenza {
  background-color: #e2007a;
  color: white;
  border-radius: 1.5em;
  font-size: 0.7em;
  border: none;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin-top: 1em;
}
