<button class="button-back" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
    <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
  </svg></button>

<div class="container-assistenza">

    <div class="div-assistenza">
        <h3>COME POSSIAMO <br> AIUTARTI?</h3>

        <img src="../../../assets/img/img-profile.png" alt="">
    </div>

    <p class="compila-modulo">Compila il form qui sotto ed inviaci la tua richiesta. <br>
        Ci metteremo in contatto con te il prima possibilr</p>


    <div class="div-form">
        <label>Tipologia di richiesta</label>
        <input type="text" placeholder="Altro">
        <label class="label-centro">Centro Bologna Gomme</label>
        <select name="centri" id="centri">
            <option>Scegli il tuo centro di riferimento</option>
            <option value="persicetana">Centro Bologna Gomme 1 - Via Persicetana Vecchia 20 Bologna - 40132</option>
            <option value="marcoEmilio">Centro Bologna Gomme 2 - Via Marco Emilio Lepido 225 Bologna - 40132</option>
            <option value="tosarelli">Centro Bologna Gomme 3 - Via Bruno Tosarelli 296/2 Bologna - 40137</option>
            <option value="progresso">Centro Bologna Gomme 4 - Via Progesso 36 Bologna - 40137</option>
            <option value="commercio">Centro Bologna Gomme 5 - Via del Commercio 7 Castel Guelfo - 40023</option>
            <option value="edison">Centro Bologna Gomme 6 - Via T.A Edison 23 Castel San Pietro - 40024</option>
            <option value="progresso">Centro Bologna Gomme 7 - Via Galiera 10/12 Funo di Argelato - 40027</option>

        </select>
        <label class="tittle-richiesta">Scrivi la tua richiesta</label>
        <input class="richiesta" type="text">
    </div>
    <div class="div-button">
        <button class="button-assistenza">INVIA</button>
    </div>
</div>